{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(siteForm) }}
    {{ form_widget(siteForm) }}
    <button>Submit</button>
    {{ form_end(siteForm) }}
{% endblock %}

{% block title %}
{% endblock %}

