.etiquette-admin{
    background-color: white;
    border-radius: 50px;
    width: 65%;
    padding: 20px;
}

.list-villes{
    list-style: none;
    width: 192px;
}

.list-codePostal{

}

.ville-panel{
    border: black solid 1px;
    margin: 6% 0 0 0;
    width: 100%;
    border-radius: 5px;
    height: 500px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}