.ville-panel {
    border: black solid;
    margin: 7% 50% 0 208px;
    width: 38%;
    height: 50%;
    overflow: scroll;
    display: flex;
}

.nom-ville-pannel{
}
.codepostal-ville-pannel{

}
.action-ville-pannel{


}