{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}
    <h1>Edit Profil</h1>

    {{ form_start(profilForm) }}
    {{ form_start(profilForm) }}
    <button>Edit profil</button>
    {{ form_end(profilForm) }}
{% endblock %}


