{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <button>Submit</button>
    {{ form_end(villeForm) }}
{% endblock %}

{% block title %}
{% endblock %}

